@page "/"

<PageTitle>Budget Optimizer App</PageTitle>

<div class="d-flex flex-column">
    <div class="optimizer-input">
        <h1 class="text-center text-white fw-bold m-4">Ad Budget Optimizer</h1>
        <p class="text-center text-white m-2">A tool for estimating your remaining ad budget based on the total budget</p>
        <BudgetOptimizerInputComponent />
    </div>
    <div class="optimizer-result">
        <BudgetOptimizerResultComponent />
    </div>
</div>