<form>
    <label for="total_spend">Total Spend:</label>
    <input type="text" id="total_spend" name="total_spend"><br>
    <label for="agency_fee">Agency fee percentage:</label>
    <input type="text" id="agency_fee" name="agency_fee"><br>
    <label for="third_party_fee">Third-party tool fee percentage:</label>
    <input type="text" id="third_party_fee" name="third_party_fee"><br>
    <label for="hours">Hours:</label>
    <input type="text" id="hours" name="hours"><br>
    @* <label for="fname">Budget for other ads:</label><br> *@
    <input type="submit" value="Calculate">
</form>